#container {
  height: 400px;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 100;
}

.chart-section {
  position: relative;
  z-index: 101;
  background-color: white;
}