<div class="container" style="max-height: 600px; overflow-y: auto;">
    <mat-table [dataSource]="paginatedPatients" class="mat-elevation-z8" [ngStyle]="{ 'min-width': '650px' }">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Patient ID </mat-header-cell>
            <mat-cell *matCellDef="let patient" (click)="openChart(patient)"> {{ patient.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{ patient.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateOfBirth">
            <mat-header-cell *matHeaderCellDef> Date of Birth </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{ patient.dateOfBirth }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="studyStartTime">
            <mat-header-cell *matHeaderCellDef> Study Start Time </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{ patient.studyStartTime }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="studyEndTime">
            <mat-header-cell *matHeaderCellDef> Study End Time </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{ patient.studyEndTime }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deviceSerialNumber">
            <mat-header-cell *matHeaderCellDef> Device Serial Number </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{ patient.device.serialNumber }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalNumberOfEvents">
            <mat-header-cell *matHeaderCellDef> Total Number of Events </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{ patient.events.length }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openChart(row)"></mat-row>
    </mat-table>

    <div class="footer">
        <mat-paginator [length]="totalPatients" [pageIndex]="page" [pageSize]="pageSize" (page)="changePage($event)">
        </mat-paginator>
    </div>
</div>